body{
 background-color: rgb(23, 23, 23);
 font-size: 22px;
 color: white;
 white-space: normal;
}
h2{
    font-size: 35px;
    padding-bottom: 20px;
}

.subpage_title{
    text-align: center;
    padding: 35px
}
.sub_hero_image{
    max-width:100%;
    max-height:auto;
    object-fit: cover;
}
.san_francisco_main{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto auto auto;
   gap: 20px;
   padding: 10px;
   max-width: 1000px;
   margin:auto;
}
.seattle_main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    padding: 10px;
    max-width: 1000px;
    margin:auto;
}
#smoking_photo{
    grid-column: 1/2;
    width: 100%;
}
#bridge_photo{
    grid-column: 2/3;
    width: 100%;
}
.hero_image{
    max-width: 100%;
    grid-column: 1/-1;
    height: auto;
}

#san_francisco_about{
    padding: 10px;
    background-color: rgb(30, 30, 30);
    grid-column: 2/3;
    max-width: 100%;
    height:auto;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 25px;
    word-spacing: 3px;
}
#seattle_about{
    padding: 10px;
    background-color: rgb(30, 30, 30);
    grid-column: 1/2;
    max-width: 400px;
    height:100%;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 25px;
    grid-row: 1/2;
    word-spacing: 3px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: -20px;
}
.seattle_text_image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  grid-column: 1 / -1;
}
.paragraph_img{
    max-width: 100%;
    height: auto;
    align-self: start;
    grid-column: 1/2;
}
.paragraph_img_s{
    max-width: 100%;
    height: auto;
    align-self: start;
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: center;
}
header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(30, 30, 30);
    height: 150px;
}
nav{
    display:grid;
    
    color: rgb(224, 224, 224);
     display: flex;
    flex-direction: row;
    justify-content: flex-end;
    grid-row: auto;
    grid-column: 2/3;
    padding-top: 70px;
    padding-right: 70px;
    gap: 15px;  
}

nav a{
    color: rgb(224, 224, 224);
    text-decoration: none;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
.logo{
    grid-row: auto;
    width: auto;
    padding-bottom: 60px;
}
#hero{
    text-align: center;
}
.hero_image{
    width: 100%;
}
#sanfran_main, #seattle_main{
    display: none;
    max-width: 100%;
    max-width: 1000px;
}
#sanfran_main.active, #seattle_main.active {
    display: block;
}
.rotating_images {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
#left-arrow, #right-arrow{
    
    font-size: 1.5rem;
    padding: 8px 12px;
    background-color: transparent;
    border: 2px solid white;
    color: rgb(224, 223, 223);
    border-radius: 40%;
    cursor: pointer;
    transition: all 0.2s ease;
}

#left-arrow:hover, #right-arrow:hover {
    background-color: white;
    color: black;
}
footer{
    background-color: rgb(30, 30, 30);
    color: whitesmoke;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
} 
footer a{
    text-decoration: none;
    color:white;
    
}