:root{
    --bgColor:white; 
    --textColor:black;
}

body{
    max-width: 100%;
    text-align: center;
    margin-top: 3%;
    background-color: var(--bgColor);
    color: var(--textColor);
    
}
hr{
    margin-top: -1em;
    max-width: 30%;
}
h1{
    margin-bottom: .7em;
}
h3{
    color: rgb(42, 134, 191);
}
.byui_logo{
width: 10%;
}
.byui_logo_white{
    display: none;
    width: 10%;
}
p{
    margin-bottom: .1em;
    max-width: 30%;
    margin:auto;
    text-align: left;
    padding: 0.4em;
    line-height: 1.6;
}
.italic{
    font-style: italic;
}
#list{ 
    max-width: 28%;
    margin: 0 auto 1.5em auto;
    text-align: left;
    padding: .3em;
    line-height: 1.5;
}   
.list_ele{
    padding: 0.3em;
    
}