
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
nav{
    display:none
}
nav a {
    padding: 20px;
    color: black;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
footer {
    text-align: center;
}
          
.change1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
.change2 {opacity: 0;}
  
.change3{
    transform: translate(0, -7px) rotate(45deg);
  }
.show{
    display:flex;
    flex-direction: column;
    text-align: center;
}


@media screen and (min-width: 700px) {
    main{
    display:grid;
    grid-template-columns: 1fr 1fr;
    }
    main section:last-child{
        grid-column: 1/3;
    }
    .menu-btn{
        display: none;
    }
    header{
        text-align: center;

    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

@media screen and (min-width: 1024px){
    main{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    main section:last-child{
        grid-column: auto;
    }
    
}

