body{
    color: #D5C8B6;
    background-color: #474440;
    
}

main{
    display:flex;
    flex-direction: column;
   padding: 30px;
}
h1, h2, h3{
    font-family: 'Courier New', Courier, monospace;
    color:#ECE9E3;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.primary{
    color: #D5C8B6;
    background-color: #474440;
}
.secondary{
    color:#474440;
    background-color: #D5C8B6;
}
.accent1{
    background-color: #111010;
    color:#ECE9E3;
}
.accent2{
    background-color:#ECE9E3;
    color: #111010;
}
.normal{
    
    color:#ECE9E3;
    background-color: #474440;
}
.colored{
    color:#474440;
    background-color: #D5C8B6;
}
a{
 color:#ECE9E3;
}
header{
    color:#ECE9E3;
    display:flex;
    flex-direction: column;
    align-items: center;
}
