
body{
    background-color: rgb(225, 225, 225);
}
#content{
    margin:auto;
    text-align: center;
    width: 90%;
    height:90%;
    margin-top: 10px;
    padding: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    
}
hr{
    height:2px;
    background-color: rgb(14, 92, 144);
    width:30%
}

#coding_pics{
    max-width: 25%;
}
#colored_text{
    color: rgb(14, 92, 144);
}
.list{
    width: 25%;
    margin: auto;
    text-align: left;
    padding: 0;
    list-style: none;
}
.active {
    background-color: #ffff6dc0;
    font-weight: bold;
  }
  