body{
    font-family: sans-serif;
    display: inline-flexbox;
}

header, footer{
    background-color: rgb(49, 121, 255);
    color: white;
    text-align: center;
    padding: 5px;
}
header, footer, main{
    max-width: 2000px;
    margin: auto;
}
main{
    background-color: rgb(192, 192, 192);
    display: grid;
    grid-template-columns: auto;
}

.menu_btn{
    background-color: transparent;
    color:white;
    border: none;
    text-align: center;
    font-size: large;

}
nav{
    display: none;
    
}
nav a{
    color: white;
    padding: 15px;
}
h2{
    text-align: center;
    background-color: rgb(192, 192, 192);
}
.cool_pics{
    text-align: center;
    padding: 5px;

}
img{
    border: 4px solid white;
    box-shadow: 0px 3px 6px;
    max-width: 300px;
}
.show{
    display: flex;
    flex-direction: column;

}

@media screen and (min-width: 700px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;   
    }
    h2{
        grid-column: 1/3;
    }

}  

@media screen and (min-width: 1024px) {
    header, footer, main{
        max-width: 2000px;
    }
    main{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
         }
    .menu_btn{
            display:none
        }
    nav{
            display: inline-block;
        }
    .cool_pics{
            padding: 5px;
    }
    h2{
        grid-column: 1/4;
    }
}

